* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 200px;
}

#screen {
	width: 200px;
	height: 50px;
	border: 1px solid black;
}

#controls {
	width: 200px;
	display: flex;
	flex-wrap: wrap;
}

button {
	width: 50px;
	aspect-ratio: 1 / 1;
	font-weight: bold;
}

#result {
	background: coral;
}